doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Music Player
        link(rel="stylesheet" href='/css/styles.css')
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link( rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    body
        include _loggedInNav.pug

        p.welcome= `Hello! ${user.username}`
        p.welcome.
            Songs You Might Be Interested In
        
        table.music__interest
            thead.music__interest__header
                th.music__interest__body.
                    ID
                th.music__interest__body.
                    Title
                th.music__interest__body.
                    Release Date
                th.music__interest__body.
                    Actions
            tbody
                tr.music__interest__body
                    td.music__interest__body.
                        Row 1 Column 1
                    td.music__interest__body.
                        Row 1 Column 2
                    td.music__interest__body.
                        Row 1 Column 3
                    td.music__interest__body
                        button.
                            Add
                        button.
                            Remove

                tr.music__interest__body
                    td.music__interest__body.
                        Row 2 Column 1
                    td.music__interest__body.
                        Row 2 Column 2
                    td.music__interest__body.
                        Row 2 Column 3
                    td.music__interest__body
                        button.
                            Add
                        button.
                            Remove
                tr.music__interest__body
                    td.music__interest__body.
                        Row 3 Column 1
                    td.music__interest__body.
                        Row 3 Column 2
                    td.music__interest__body.
                        Row 3 Column 3
                    td.music__interest__body
                        button.
                            Add
                        button.
                            Remove
                tr.music__interest__body
                    td.music__interest__body.
                        Row 4 Column 1
                    td.music__interest__body.
                        Row 4 Column 2
                    td.music__interest__body.
                        Row 4 Column 3
                    td.music__interest__body
                        button.
                            Add
                        button.
                            Remove
